<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/headerAndFooter.css" />
    <link rel="stylesheet" href="../css/about.css" />
</head>
<body>
<div id="container">
    <!-- 头部部分-->
    <header id="header">
        <nav id="nav">
            <div id="nav_CallUs">
                <h3>
                    Call Us:
                    <span>(800)</span>
                    <i>1444 000 4040</i>
                </h3>
            </div>
            <div id="nav_bg">
                <div id="logo">
                    <a href="../index.html">
                        <img src="../img/logo.png" alt="furnished" />
                    </a>
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="contactUs.html">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div id="header_banner"></div>
    </header>

    <!-- 内容部分-->
    <div id="content">
        <!-- 关于部分-->
        <section class="about_cnt style">
            <div class="style_title">
                <h3>About</h3>
            </div>
            <div class="about_cntIT">
                <div class="about_txt">
                    <h6>
                        <a href="blog.html">
                            Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                            Donec accumsan malesuada orci donec sit amet eros. Lorem ipsum dolor sit amet.
                        </a>
                    </h6>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                        Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
                        con sectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                        Aenean auctor wisi et urna.
                    </p>
                    <p>
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                        Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                        Ut tellus dolor.
                    </p>
                </div>
                <div class="about_img">
                    <a href="#">
                        <img src="../img/ab1.jpg" />
                    </a>
                </div>
            </div>
            <div class="furnDesign">
                <h3>
                    Furniture Design
                </h3>
                <div class="furnDesign_imgTxt">
                    <div>
                        <a href="#">
                            <img src="../img/vi1.jpg" />
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Donec at accumsan justo.
                            Vivamus eget volpat lacus nec tristique leoestibulum.
                        </p>
                    </div>
                    <div>
                       <a href="#">
                           <img src="../img/vi.jpg" />
                       </a>
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Donec at accumsan justo.
                            Vivamus eget volpat lacus nec tristique leoestibulum.
                        </p>
                    </div>
                    <div>
                        <h4>OUR CAPABILITIES</h4>
                        <div class="capabList">
                            <ul>
                                <li>
                                    <img src="../img/cir.png" />
                                </li>
                                <li>
                                    <p>Placerat ligula tincidunt</p>
                                </li>

                            </ul>
                            <div>
                                <p>Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident.
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <img src="../img/cir.png" />
                                </li>
                                <li>
                                    <p>Placerat ligula tincidunt</p>
                                </li>
                            </ul>
                            <div>
                                <p>Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident.
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <img src="../img/cir.png" />
                                </li>
                                <li>
                                    <p>Placerat ligula tincidunt</p>
                                </li>
                            </ul>
                            <div>
                                <p>Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident.
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <img src="../img/cir.png" />
                                </li>
                                <li>
                                    <p>Placerat ligula tincidunt</p>
                                </li>

                            </ul>
                            <div>
                                <p>
                                    Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ourTeam">
                <div class="ourTeam_title">
                    <h3>OUR TEAM</h3>
                </div>
                <div class="ourTeam_img">
                    <ul>
                        <li>
                            <img src="../img/team-1.jpg" />
                        </li>
                        <li>
                            <img src="../img/team-2.jpg" />
                        </li>
                        <li>
                            <img src="../img/team-3.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- 尾部部分-->
    <footer id="footer">
        <div class="footer_Top">
            <ul>
                <li>
                    <h3>INFORMATION</h3>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <h3>CATEGORIES</h3>
                    <a href="#">Nam tempus bibendum</a>
                    <a href="#">Ut vulputate nibh eget</a>
                    <a href="#">In vehicula mattis</a>
                    <a href="#">Integer sed sagittis ante</a>
                    <a href="#">Ut fringilla et quam nec</a>
                </li>
                <li>
                    <h3>MY ACCOUNT</h3>
                    <a href="#">My account</a>
                    <a href="#">My addresses</a>
                </li>
                <li>
                    <h3>NEWSLETTER</h3>
                    <input type="text" value="Enter Your Email" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Enter Your Email';}" />
                    <input type="submit" value="">
                </li>
            </ul>
        </div>
        <div class="footer_down">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </footer>
</div>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/about.js"></script>
</body>
</html>