<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/headerAndFooter.css" />
    <link rel="stylesheet" href="../css/blog.css" />
</head>
<body>
<div id="container">
    <!-- 头部部分-->
    <header id="header">
        <nav id="nav">
            <div id="nav_CallUs">
                <h3>
                    Call Us:
                    <span>(800)</span>
                    <i>1444 000 4040</i>
                </h3>
            </div>
            <div id="nav_bg">
                <div id="logo">
                    <a href="../index.html">
                        <img src="../img/logo.png" alt="furnished" />
                    </a>
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="contactUs.html">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div id="header_banner"></div>
    </header>

    <!-- 内容部分-->
    <div id="content">
       <div class="blog_cnt">
               <div class="style_title">
                   <h3>Blog</h3>
               </div>
           <div class="blog_cntL ">
               <!-- 111-->
               <div class=" about_txt">
                   <h6>
                       <a href="#">
                           DUIS AUTE IRURE DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ESSE
                       </a>
                   </h6>
                   <p>
                       Post by <a href="#">Admin</a>
                       on saturday, March 02, 2015
                       <a href="#">5 comments</a>
                   </p>
                   <div class="blog_cntL_1">
                       <div>
                           <img src="../img/blog-3.jpg" />
                       </div>
                       <div>
                           <p>
                               Nunc quis turpis sed tortor viverra dictum.
                               Etiam in cursus libero, ut cursus turpis.
                               Nulla quis nulla pellentesque, commodo lorem sed,
                               ultrices leo. Duis magna mauris, cursus vitae lacus ut,
                               consequat malesuada magna. Duis bibendum pellentesque
                               nisi eget volutpat.Nunc rhoncus ultrices lectus.
                               Aliquam eu dui quis orci ultrices eleifend ut non massa.
                               Duis commodo, ante in vulputate iaculis, libero ex
                               fringilla dolor, id laoreet augue lorem in velit.
                           </p>
                           <div class="blog_cntL_1Btn">Read more</div>
                       </div>
                       <div style="clear: both"></div>
                       <div class="blog_cntL_1End">
                           <!--<hr/>-->
                           <div>
                               <ul>
                                   <li>
                                       <img src="../img/blog-logo1.png">
                                       <a href="#">
                                           Uncategorized
                                       </a>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo2.png">
                                   <span>
                                       March 13,2014
                                   </span>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo3.png">
                                       <a href="#">
                                           Admin
                                       </a>
                                   </li>
                               </ul>
                           </div>
                           <!--<hr/>-->
                       </div>
                   </div>
                   <div class="blog_cntL_2"></div>
               </div>
               <!-- 222-->
               <div class=" about_txt">
                   <h6>
                       <a href="#">
                           DUIS AUTE IRURE DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ESSE
                       </a>
                   </h6>
                   <p>
                       Post by <a href="#">Admin</a>
                       on saturday, March 02, 2015
                       <a href="#">5 comments</a>
                   </p>
                   <div class="blog_cntL_1">
                       <div>
                           <img src="../img/blog-2.jpg" />
                       </div>
                       <div>
                           <p>
                               Nunc quis turpis sed tortor viverra dictum.
                               Etiam in cursus libero, ut cursus turpis.
                               Nulla quis nulla pellentesque, commodo lorem sed,
                               ultrices leo. Duis magna mauris, cursus vitae lacus ut,
                               consequat malesuada magna. Duis bibendum pellentesque
                               nisi eget volutpat.Nunc rhoncus ultrices lectus.
                               Aliquam eu dui quis orci ultrices eleifend ut non massa.
                               Duis commodo, ante in vulputate iaculis, libero ex
                               fringilla dolor, id laoreet augue lorem in velit.
                           </p>
                           <div class="blog_cntL_1Btn">Read more</div>
                       </div>
                       <div style="clear: both"></div>
                       <div class="blog_cntL_1End">
                           <div>
                               <ul>
                                   <li>
                                       <img src="../img/blog-logo1.png">
                                       <a href="#">
                                           Uncategorized
                                       </a>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo2.png">
                                   <span>
                                       March 13,2014
                                   </span>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo3.png">
                                       <a href="#">
                                           Admin
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- 333-->
               <div class=" about_txt">
                   <h6>
                       <a href="#">
                           DUIS AUTE IRURE DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ESSE
                       </a>
                   </h6>
                   <p>
                       Post by <a href="#">Admin</a>
                       on saturday, March 02, 2015
                       <a href="#">5 comments</a>
                   </p>
                   <div class="blog_cntL_1">
                       <div>
                           <img src="../img/blog-2.jpg" />
                       </div>
                       <div>
                           <p>
                               Nunc quis turpis sed tortor viverra dictum.
                               Etiam in cursus libero, ut cursus turpis.
                               Nulla quis nulla pellentesque, commodo lorem sed,
                               ultrices leo. Duis magna mauris, cursus vitae lacus ut,
                               consequat malesuada magna. Duis bibendum pellentesque
                               nisi eget volutpat.Nunc rhoncus ultrices lectus.
                               Aliquam eu dui quis orci ultrices eleifend ut non massa.
                               Duis commodo, ante in vulputate iaculis, libero ex
                               fringilla dolor, id laoreet augue lorem in velit.
                           </p>
                           <div class="blog_cntL_1Btn">Read more</div>
                       </div>
                       <div style="clear: both"></div>
                       <div class="blog_cntL_1End">
                           <div>
                               <ul>
                                   <li>
                                       <img src="../img/blog-logo1.png">
                                       <a href="#">
                                           Uncategorized
                                       </a>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo2.png">
                                   <span>
                                       March 13,2014
                                   </span>
                                   </li>
                                   <li>
                                       <img src="../img/blog-logo3.png">
                                       <a href="#">
                                           Admin
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- 按钮-->
               <div class=" blog_cntLEndBtn">
                   <ul>
                       <li>
                           <a href="#">Previous</a>
                       </li>
                       <li>
                           <a href="#">Next</a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="blog_cntR about_txt about_txt2">
               <h6>
                   <a href="#">
                       CATEGORIES
                   </a>
               </h6>
               <p><a href="#">Aenean tortor orci</a></p>
               <p><a href="#">Duis bibendum pellentesquev</a></p>
               <p><a href="#">Quisque pharetra semper</a></p>
               <p><a href="#">Cras condimentum risus</a></p>
               <p><a href="#">Quisque id erat sapien</a></p>

               <h6 class="about_txt2_h6">
                   <a href="#">
                       RECENT POSTS
                   </a>
               </h6>
               <p><a href="#">Fusce id volutpat est</a></p>
               <p><a href="#">Phasellus condimentum odio</a></p>
               <p><a href="#">Donec interdum eros elit</a></p>
               <p><a href="#">Cras condimentum risus</a></p>
               <p><a href="#">Proin sodales diam ac</a></p>

               <h6 class="about_txt2_h6">
                   <a href="#">
                       ARCHIVES
                   </a>
               </h6>
               <p><a href="#">March 3014</a></p>
               <p><a href="#">May 2014</a></p>
               <p><a href="#">August 2014</a></p>
               <p><a href="#">October 2014</a></p>
           </div>
       </div>
     </div>

    <!-- 尾部部分-->
    <footer id="footer">
        <div class="footer_Top">
            <ul>
                <li>
                    <h3>INFORMATION</h3>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <h3>CATEGORIES</h3>
                    <a href="#">Nam tempus bibendum</a>
                    <a href="#">Ut vulputate nibh eget</a>
                    <a href="#">In vehicula mattis</a>
                    <a href="#">Integer sed sagittis ante</a>
                    <a href="#">Ut fringilla et quam nec</a>
                </li>
                <li>
                    <h3>MY ACCOUNT</h3>
                    <a href="#">My account</a>
                    <a href="#">My addresses</a>
                </li>
                <li>
                    <h3>NEWSLETTER</h3>
                    <input type="text" value="Enter Your Email" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Enter Your Email';}" />
                    <input type="submit" value="">
                </li>
            </ul>
        </div>
        <div class="footer_down">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>