<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/headerAndFooter.css" />
    <link rel="stylesheet" href="../css/contactUs.css" />
</head>
<body>
<div id="container">
    <!-- 头部部分-->
    <header id="header">
        <nav id="nav">
            <div id="nav_CallUs">
                <h3>
                    Call Us:
                    <span>(800)</span>
                    <i>1444 000 4040</i>
                </h3>
            </div>
            <div id="nav_bg">
                <div id="logo">
                    <a href="../index.html">
                        <img src="../img/logo.png" alt="furnished" />
                    </a>
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="contactUs.html">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div id="header_banner"></div>
    </header>

    <section id="content">
        <div class="style">
            <div class="style_title">
                <h3>
                    Contact
                </h3>
            </div>
            <div class="contentMap"></div>
           <div class="contentForm">
               <div class="contentFormL contentStyle">
                   <h4>Below Type Here</h4>
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Donec tincidunt dolor et tristique bibendum.
                       Aenean sollicitudin vitae dolor ut posuere.
                   </p>
                   <form>
                       <input type="text" value="Name" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Name';}" />
                       <input type="text" value="Email Address" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Email Address';}" />
                       <input type="text" value="Subject" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Subject';}" />
                       <textarea  value="Message" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Message';}">Message</textarea>
                       <input type="submit" value="Send message" />
                   </form>
               </div>
               <div class="contentFormR contentStyle">
                   <h4>Below Type Here</h4>
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit velit justo.
                   </p>
                   <p>
                       email : <a href="#">info@display.com</a><br/>
                       phone : 1.306.222.4545<br/>
                       222 2nd Ave South<br/>
                       Saskabush, SK S7M 1T6
                   </p>

               </div>
           </div>
        </div>
    </section>

    <!-- 尾部部分-->
    <footer id="footer">
        <div class="footer_Top">
            <ul>
                <li>
                    <h3>INFORMATION</h3>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Gallery</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <h3>CATEGORIES</h3>
                    <a href="#">Nam tempus bibendum</a>
                    <a href="#">Ut vulputate nibh eget</a>
                    <a href="#">In vehicula mattis</a>
                    <a href="#">Integer sed sagittis ante</a>
                    <a href="#">Ut fringilla et quam nec</a>
                </li>
                <li>
                    <h3>MY ACCOUNT</h3>
                    <a href="#">My account</a>
                    <a href="#">My addresses</a>
                </li>
                <li>
                    <h3>NEWSLETTER</h3>
                    <input type="text" value="Enter Your Email" onfocus="this.value = ''" onblur="if (this.value == '')
                     {this.value = 'Enter Your Email';}" />
                    <input type="submit" value="">
                </li>
            </ul>
        </div>
        <div class="footer_down">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </footer>
</div>

</body>
</html>